In [17]:
import math

# Strings

## Slicing

In [1]:
name = 'My name is Arif Faisal'

In [4]:
name[12]

'r'

In [6]:
name[0:7]

'My name'

In [7]:
name[:7]

'My name'

In [8]:
name[11:]

'Arif Faisal'

In [9]:
myList = [1, 2, 3, 4, 5]

In [10]:
myList[2:4]

[3, 4]

In [11]:
len(name)

22

In [12]:
len(myList)

5

## Formatting

In [13]:
'My number is: ' + str(5)

'My number is: 5'

In [15]:
f'My number is: {5}'

'My number is: 5'

In [16]:
f'My number is: {5} and twice that is {2*5}'

'My number is: 5 and twice that is 10'

In [19]:
f'[Pi is: {math.pi:.2f}]'

'[Pi is: 3.14]'

In [20]:
'Pi is: {}'.format(math.pi)

'Pi is: 3.141592653589793'

## Multi-line Strings

In [22]:
myString = """
Long block of text
I can add new lines
the text does not stop until it sees
"""

In [23]:
print(myString)

Long block of text
I can add new lines
the text does not stop until it sees